{% extends 'base.html' %}


{% block content %}
  <div class="container">
    <div class="row">
      <h3 class="mt-5 other"><span class="head">Search</span> Results<hr class="blue"></h3>
      {% if images %}
      <h4>Found {{images| length}} images in {{message}} category</h4>
      {% else %}
      <h4>Found 0 images in {{message}} category</h4>
      {% endif %}

      {% if images %}
      {% for item in images %}
      <div class="col-md-3" data-bs-toggle="modal" data-bs-target="#exampleModal{{item.pk}}">
        <div class="card my-3">
          <img src="{{item.image_path.url}}" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-text">{{item.name}}</h5><hr>
            <p class="card-text text-muted"><small>Uploaded {{item.created_at | timesince}} ago</small></p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal{{item.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <img src="{{item.image_path.url}}" alt="{{item.name}} image" class="img-responsive img-fluid">
                  </div>

                  <div class="col-md-6">
                    <h5 class="fw-bold">{{item.name}}</h5><hr>
                    <h5  class="text-decoration-underline">Image description</h5>
                    <p>{{item.description}}</p><hr>
                    <h5 class="text-decoration-underline">Location</h5>
                    <p>{{item.location}}</p><hr>
                    <h5 class="text-decoration-underline">Category</h5>
                    <p>{{item.category}}</p><hr>
                    <h5 class="text-decoration-underline">Date</h5>
                    <p>{{item.created_at}}</p><hr>
                    <h5 class="text-decoration-underline">Share link</h5>
                    <p class="font-monospace">{{item.image_path.url}}</p><hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}